<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jayam.impactapp"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SDCARD_WRITE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:name=".common.MfimoApp"
        android:icon="@drawable/namraicon"
        android:label="@string/app_name"
        android:theme="@style/AppThemeone"
        android:supportsRtl="true"

        android:networkSecurityConfig="@xml/network_security_config"


        tools:replace="android:allowBackup">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".loginActivity"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".NavigationActivity"
            android:label="@string/app_name"

            android:theme="@style/AppFullScreenTheme"
            />
        <activity
            android:name=".Administration"
            android:label="@string/app_name"
            />
        <activity
            android:name=".TransactionHistoryMemberwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".LateCenters"
            android:label="@string/app_name"
            />
        <activity
            android:name=".LateGroupMembers"
            android:label="@string/app_name"
            />
        <activity
            android:name=".LateGroups"
            android:label="@string/app_name"
            />
        <activity
            android:name=".LateMemeberDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".TransactionHistory"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Transactions"
            android:label="@string/app_name"
            />
        <activity
            android:name=".MemberViewCycle"
            android:label="@string/app_name"
            />
        <activity
            android:name=".DemandDates"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ProductSynch"
            android:label="@string/app_name"
            />
        <activity
            android:name=".BorrowerSearch"
            android:label="@string/app_name"
            />
        <activity
            android:name=".NewDemands"
            android:label="@string/app_name"
            />
        <activity
            android:name=".RegularCollections"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionDashbord"
            android:label="@string/app_name"
            />
        <activity
            android:name=".NewDataSync"
            android:label="@string/app_name"
            />


        <activity
            android:name=".GroupsAndCenters"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Centers"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CenterDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".DisplayRoute"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Groups"
            android:label="@string/app_name"
            />
        <activity
            android:name=".GroupDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".GroupMembers"
            android:label="@string/app_name"
            />
        <activity
            android:name=".MemeberDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Paymentconfiramtion"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Attendense"
            android:label="@string/app_name"
            />
        <activity
            android:name=".MeetingTime"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ConfirmationScreen"
            android:label="@string/app_name"
            />
        <activity
            android:name=".TransactionACK"
            android:label="@string/app_name"
            />
        <activity
            android:name=".printer.BluetoothChatActivity"
            android:label="@string/app_name"
            />
        <activity
            android:name=".printer.DeviceListActivity"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ODDemands"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Centers_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Groups_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Members_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".MemberDetails_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".TransactionACK_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Reports"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ReportDates_Regular"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ReportList"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionReport"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionReportSummary"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionReport_Groups"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Utilities"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ChangePassword"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Collections_Reports_members"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionReportSummary_Groups"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionReport_MemberSummery"
            android:label="@string/app_name"
            />
        <activity
            android:name=".SummaryReports_Regular"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ReportSummaryForRegular"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ReportDetailSummaryForRegular"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ReportList_For_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionReports_Centers_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionReports_Groups_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionReports_Members_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionReport_MemberDetails_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".SummaryReport_OD"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Groups_For_attendense"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Attendense_Centerwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".MeetingTime_Centerwise"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ConfirmationScreen_Centerwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".TransactionACK_Centerwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Groups_Centerwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".GroupDetails_Centerwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ResetParameters"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceDemands"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvGroupsAndCenters"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvCenters"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvCenterDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvGroups_centerwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvGroupDetails_Centerwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvGroupMembers"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvMemeberDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceGroups"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceGroupDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvancePaymentconfiramtion"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceConfirmationScreen_Centerwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceConfirmationScreen"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvTxnack"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvTxnack_CenterWise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceReports"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceReports_center"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Advancereports_CenterDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Advancereports_GroupDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceReport_GroupsSummary"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceReports_Members"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Advancereports_MemberDetails"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceReports_Summary"
            android:label="@string/app_name"
            />
        <activity
            android:name=".NPSConfirmationScreen_Centerwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".NPSConfirmation"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Ftodreasons"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Ftodconfirmation"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Ftodreasonscenterwise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".FtodCenterWiseConfirmation"
            android:label="@string/app_name"
            />
        <activity
            android:name=".FtodGroupWiseConfirmation"
            android:label="@string/app_name"
            />
        <activity
            android:name=".LastReceiptPrintMenu"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ProbInCenterCW"
            android:label="@string/app_name"
            />
        <activity
            android:name=".GroupDisciplineGW"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollExperianceGW"
            android:label="@string/app_name"
            />
        <activity
            android:name=".GroupDisciplineCW"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollExperianceCW"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollExpRmel"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollectionPlace"
            android:label="@string/app_name"
            />
        <activity
            android:name=".RepaymentMadeBy"
            android:label="@string/app_name"
            />
        <activity
            android:name=".QomCenters"
            android:label="@string/app_name"
            />
        <activity
            android:name=".QomCenterWise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".QomGroupWise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".RenewCenterWise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".RenewCenters"
            android:label="@string/app_name"
            />
        <activity
            android:name=".RenewGroupWise"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ProbInCenterGW"
            android:label="@string/app_name"
            />
        <activity
            android:name=".Group_Members"
            android:label="@string/app_name"
            />
        <activity
            android:name=".CollExperianceMW"
            android:label="@string/app_name"
            />
        <activity
            android:name=".QomMemberWise"
            android:label="@string/app_name"
            />
        <activity
            android:name="com.jayam.LocationUtil.MyLocationUsingHelper"
            android:label="@string/app_name"
            />
        <activity
            android:name=".RegularCbCheck"
            android:label="@string/app_name"
            />
        <activity
            android:name="com.jayam.ODCASHLESSPending"
            android:label="@string/app_name"
            />
        <activity
            android:name=".AdvanceCashLessPending"
            android:label="@string/app_name"
            />

        <service
            android:name=".webacceslayer.RegularScheduleService"
            android:enabled="true" />
        <service
            android:name=".webacceslayer.ODRegularScheduleService"
            android:enabled="true" />
        <service
            android:name=".webacceslayer.ADVRegularScheduleService"
            android:enabled="true" />
        <service
            android:name=".webacceslayer.LateSchedilerService"
            android:enabled="true" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"></uses-library>
    </application>

</manifest>